﻿.wp-admin .wp-block-gallery:not(.is-cropped) .blocks-gallery-grid {
	width: 100%;
	display: grid;
	flex-wrap: nowrap;
	gap: 15px;
	margin-left: unset;
  }
  .wp-admin .wp-block-gallery:not(.is-cropped).columns-1 .blocks-gallery-grid {
	grid-template-columns: repeat(1, 1fr);
  }
  @media screen and (max-width: 1200px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-1 .blocks-gallery-grid {
	  grid-template-columns: repeat(4, 1fr);
	}
  }
  @media screen and (max-width: 768px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-1 .blocks-gallery-grid {
	  grid-template-columns: repeat(2, 1fr);
	}
  }
  @media screen and (max-width: 1200px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-1 .blocks-gallery-grid {
	  grid-template-columns: repeat(3, 1fr);
	}
  }
  @media screen and (max-width: 768px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-1 .blocks-gallery-grid {
	  grid-template-columns: repeat(2, 1fr);
	}
  }
  @media screen and (max-width: 768px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-1 .blocks-gallery-grid {
	  grid-template-columns: repeat(2, 1fr);
	}
  }
  .wp-admin .wp-block-gallery:not(.is-cropped).columns-2 .blocks-gallery-grid {
	grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 1200px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-2 .blocks-gallery-grid {
	  grid-template-columns: repeat(4, 1fr);
	}
  }
  @media screen and (max-width: 768px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-2 .blocks-gallery-grid {
	  grid-template-columns: repeat(2, 1fr);
	}
  }
  @media screen and (max-width: 1200px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-2 .blocks-gallery-grid {
	  grid-template-columns: repeat(3, 1fr);
	}
  }
  @media screen and (max-width: 768px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-2 .blocks-gallery-grid {
	  grid-template-columns: repeat(2, 1fr);
	}
  }
  @media screen and (max-width: 768px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-2 .blocks-gallery-grid {
	  grid-template-columns: repeat(2, 1fr);
	}
  }
  .wp-admin .wp-block-gallery:not(.is-cropped).columns-3 .blocks-gallery-grid {
	grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 1200px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-3 .blocks-gallery-grid {
	  grid-template-columns: repeat(4, 1fr);
	}
  }
  @media screen and (max-width: 768px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-3 .blocks-gallery-grid {
	  grid-template-columns: repeat(2, 1fr);
	}
  }
  @media screen and (max-width: 1200px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-3 .blocks-gallery-grid {
	  grid-template-columns: repeat(3, 1fr);
	}
  }
  @media screen and (max-width: 768px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-3 .blocks-gallery-grid {
	  grid-template-columns: repeat(2, 1fr);
	}
  }
  @media screen and (max-width: 768px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-3 .blocks-gallery-grid {
	  grid-template-columns: repeat(2, 1fr);
	}
  }
  .wp-admin .wp-block-gallery:not(.is-cropped).columns-4 .blocks-gallery-grid {
	grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (max-width: 1200px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-4 .blocks-gallery-grid {
	  grid-template-columns: repeat(4, 1fr);
	}
  }
  @media screen and (max-width: 768px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-4 .blocks-gallery-grid {
	  grid-template-columns: repeat(2, 1fr);
	}
  }
  @media screen and (max-width: 1200px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-4 .blocks-gallery-grid {
	  grid-template-columns: repeat(3, 1fr);
	}
  }
  @media screen and (max-width: 768px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-4 .blocks-gallery-grid {
	  grid-template-columns: repeat(2, 1fr);
	}
  }
  .wp-admin .wp-block-gallery:not(.is-cropped).columns-5 .blocks-gallery-grid {
	grid-template-columns: repeat(5, 1fr);
  }
  @media screen and (max-width: 1200px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-5 .blocks-gallery-grid {
	  grid-template-columns: repeat(4, 1fr);
	}
  }
  @media screen and (max-width: 768px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-5 .blocks-gallery-grid {
	  grid-template-columns: repeat(2, 1fr);
	}
  }
  @media screen and (max-width: 1200px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-5 .blocks-gallery-grid {
	  grid-template-columns: repeat(3, 1fr);
	}
  }
  @media screen and (max-width: 768px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-5 .blocks-gallery-grid {
	  grid-template-columns: repeat(2, 1fr);
	}
  }
  .wp-admin .wp-block-gallery:not(.is-cropped).columns-6 .blocks-gallery-grid {
	grid-template-columns: repeat(6, 1fr);
  }
  @media screen and (max-width: 1200px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-6 .blocks-gallery-grid {
	  grid-template-columns: repeat(4, 1fr);
	}
  }
  @media screen and (max-width: 768px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-6 .blocks-gallery-grid {
	  grid-template-columns: repeat(2, 1fr);
	}
  }
  .wp-admin .wp-block-gallery:not(.is-cropped).columns-7 .blocks-gallery-grid {
	grid-template-columns: repeat(7, 1fr);
  }
  @media screen and (max-width: 1200px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-7 .blocks-gallery-grid {
	  grid-template-columns: repeat(4, 1fr);
	}
  }
  @media screen and (max-width: 768px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-7 .blocks-gallery-grid {
	  grid-template-columns: repeat(2, 1fr);
	}
  }
  .wp-admin .wp-block-gallery:not(.is-cropped).columns-8 .blocks-gallery-grid {
	grid-template-columns: repeat(8, 1fr);
  }
  @media screen and (max-width: 1200px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-8 .blocks-gallery-grid {
	  grid-template-columns: repeat(4, 1fr);
	}
  }
  @media screen and (max-width: 768px) {
	.wp-admin .wp-block-gallery:not(.is-cropped).columns-8 .blocks-gallery-grid {
	  grid-template-columns: repeat(2, 1fr);
	}
  }
  .wp-admin .wp-block-gallery:not(.is-cropped) .blocks-gallery-item {
	margin-bottom: unset;
	margin-right: unset;
	width: unset;
	position: relative;
	padding-top: 55.7%;
  }
  .wp-admin .wp-block-gallery:not(.is-cropped) .blocks-gallery-item figure {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
  }
  .wp-admin .wp-block-gallery:not(.is-cropped) .blocks-gallery-item a {
	width: 100%;
	height: 100%;
  }
  .wp-admin .wp-block-gallery:not(.is-cropped) .blocks-gallery-item img {
	object-fit: cover;
	width: 100%;
	height: 100%;
  }

  .wp-block {
	max-width: 1800px;
  }