.adds {

  &_banner {
    max-width: 100%;
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  &__5 {
    margin-top: 0;

    @include res(phone) {
      margin-top: 7rem;
    }
  }
}

// grids for adds

.grid > .wp-block-group__inner-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(0, 1fr);
  /*stylelint-disable*/
  grid-template-areas:
  "grid_1"
  "grid_2"
  "grid_3"
  "grid_4"
  "grid_5"
  "grid_6";
  /*stylelint-enable*/

  @include res(phone_medium) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(0, 1fr);
    /*stylelint-disable*/
    grid-template-areas:
    "grid_1 grid_1"
    "grid_2 grid_3"
    "grid_4 grid_4"
    "grid_5 grid_5"
    "grid_6 grid_6";
    /*stylelint-enable*/
  }

  @include res(tab) {
    gap: 3rem;
  }

  @include res(wide) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(5, 120px);
  }

  .grid_1 {
    grid-area: grid_1;

    @include res(wide) {
      grid-row: 1 / 4;
      grid-column: 1 / 2;
    }
  }

  .grid_2 {
    grid-area: grid_2;

    @include res(wide) {
      grid-row: 1 / 3;
      grid-column: 2 / 3;
      margin-top: 9.3rem;
    }
  }

  .grid_3 {
    grid-area: grid_3;

    @include res(wide) {
      grid-row: 3 / 5;
      grid-column: 2 / 3;
      margin-top: 5.3rem;
    }
  }

  .grid_4 {
    grid-area: grid_4;

    @include res(wide) {
      grid-row: 4 / 6;
      grid-column: 1 / 2;
    }
  }

  .grid_5 {
    grid-area: grid_5;

    @include res(wide) {
      grid-row: 6 / 7;
      grid-column: 1 / 2;
    }
  }

  .grid_6 {
    grid-area: grid_6;

    @include res(wide) {
      grid-row: 5 / 7;
      grid-column: 2 / 3;
      margin-top: 1.2rem;
    }
  }

  // for overwrite min height in reports section
  .wp-block-cs-gutenberg-blocks-display-posts--column .wp-block-cs-gutenberg-blocks-display-posts__item {
    min-height: 250px;

    @include res(desktop) {
      min-height: 197px;
    }
  }
}