.breadcrumbs-section {
  background-color: rgb(var(--color-grey));
  width: 100%;
  height: auto;
  position: relative;

  .breadcrumbs-container {
    width: var(--main-container-width);
    max-width: var(--main-max-width);
    margin: 0 auto;
  }

  &.category-page,
  &.index-page {

    .breadcrumbs-container {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      // margin: 0 7rem;
    }

    .breadcrum-title {
      color: rgb(18,40,69);
      text-transform: uppercase;
      list-style: none;
      font-size: 1.5rem;
      margin: auto;
      font-weight: 700;

      @include res(tab) {
        font-size: 2rem;
      }

      @include res(desktop) {
        font-size: 3rem;
      }
    }

    .breadcrumbs {
      margin-left: 20px;

      li {
        font-size: 1rem;

        @include res(tab) {
          font-size: 1.3rem;
        }

        @include res(desktop) {
          font-size: 1.8rem;
          padding: 0 5px;
        }
      }
    }
  }

  .breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 5rem;
    padding: 1.5rem 0;

    @include res(tab) {
      min-height: 8rem;
    }

    @include res(desktop) {
      min-height: 10rem;
    }
  }

  a {
    font-weight: bold;
    color: rgb(18,40,69);

    &:hover {
      opacity: 0.8;
    }
  }

  li {
    list-style: none;

    font-size: 1.2rem;
    color: rgb(18,40,69);
    text-transform: uppercase;
    padding: 0;

    @include res(tab) {
      font-size: 1.4rem;
    }

    @include res(desktop) {
      font-size: 1.8rem;
      padding: 0 5px;
    }

    &:first-child {

      font-size: 1.5rem;

      @include res(tab) {
        font-size: 2rem;
      }

      @include res(desktop) {
        font-size: 3rem;
      }

      a {

        &:hover {
          opacity: 0.8;
        }
      }

    }

  }

  .separator {
    margin: 0 5px;
    visibility: hidden;
  }
}