.cn-buttons-container {

  .cn-button.wp-default {
    color: #5F687C;
    border: 1px solid #5F687C;
    background-color: transparent;
    border-radius: 0;
    font-size: 1.2rem;
    transition: 0.3s;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 6px 10px 4px;
    line-height: 1.2rem;

    &:hover,
    &:active,
    &:focus {
      color: #fff;
      border: 1px solid rgb(var(--color-grey-blue));
      background-color: rgb(var(--color-grey-blue));
      transition: 0.3s;
    }
  }
}

body .cookie-notice-container {

  position: relative;
  max-width: var(--main-max-width);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
  padding-top: 1.3rem; //  is require
  padding-bottom: 4.3rem; //  is require

  @include res(phone_medium) {
    padding-bottom: 2rem;
  }

  @include res(tab) {
    padding-bottom: 1.8rem;
  }

  @include res(desktop) {
    padding-bottom: 3.3rem;
  }

  @include res(desktop_medium) {
    padding-bottom: 1.3rem;
  }

  @include res(desktop_medium) {
    display: flex; // important is require in this place
  }

  .cn-close-icon {
    top: calc(50% - 0.5rem);
    width: 2rem;
    height: 2rem;
  }

  .cn-close-icon:before,
  .cn-close-icon:after {
    height: 2rem ;
    width: 0.3rem;
  }

  .cn-text-container {
    font-size: 1.5rem;
    font-family: $main-font;
    color: #5F687C;
    margin: 0;
  }

  .cn-close-icon {
    // right: unset;

    @include res(desktop) {
      right: 30px;
    }
  }
}

// translation bar
body .switcher {

  width: 120px;
  position: relative;

  // .selected {
  //   background: rgb(var(--color-red));
  //   color: rgb(var(--color-dark-blue));
  // }

  @include res(tab) {

    .selected,
    .option {
      border: 0;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box!important;
        width: 120px; // the same like swither has
        max-width: 100%;
        padding: 0;
        border: 0;
        color: rgb(var(--color-dark-blue));
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        min-height: 5rem;
      }

      img {
        margin-right: 0.5rem;
      }
    }
  }
}