[class*="footer-"] {

  ul,
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .widget-title,
  .textwidget,
  a {
    color: rgba(var(--color-white),1);
  }
}

.footer-widget {
  position: relative;
  background-image: url("../images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 7.4rem;
  padding-bottom: 8.9rem;

  @include res(desktop_medium) {
    padding-top: 6rem;
    padding-bottom: 5rem;
  }

  section.widget {
    @include res(tab) {
      max-width: 415px;
    }
  }

  .second-col {
    margin-bottom: 7.4rem;

    @include res(tab) {
      margin-bottom: unset;
    }

    section.widget {
      @include res(tab) {
        margin-left: auto;
      }

      @media screen and (min-width: 992px) {
        margin-left: unset;
      }
    }
  }

  .third-col {

    section.widget {
      @media screen and (min-width: 992px) {
        margin-left: auto;
      }
    }
  }

  li {
    display: block;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background-color: rgba(var(--color-white), 0.16);
    }

    &:last-child::before {
      content: unset;
    }
  }

  .nav-link {
    font-size: 1.8rem;
    font-weight: 400;
    padding: 0.8rem 0;
    padding-left: 0;

    display: inline-block;
    transition: padding-left 0.3s ease-in;

    &::first-letter {
      text-transform: uppercase;
    }

    &:hover {
      padding-left: 2rem;
    }
  }

  .widget-title {
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-weight: 600;
    padding-bottom: 0.9rem;
    text-transform: uppercase;
  }

  .textwidget {
    line-height: 3.4rem;
  }

  .widget_text {
    margin-bottom: 7.4rem;
  }
}

.site-footer {
  min-height: 5rem;
  background-color: rgb(var(--color-black));
  display: flex;
  align-items: center;

  .site-info {
    text-align: center;
  }

  a,
  .site-info {
    color: rgba(var(--color-white), 0.4);
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.3;

    @include res(tab) {
      font-size: 1.5rem;
    }
  }

  a {
    transition: 0.3s;

    &:hover {
      color: #fff;
      transition: 0.3s;
    }
  }
}

.footer-social-menu {
  background-color: rgb(var(--color-red));

  &__content {
    min-height: 12.3rem;
    padding: 2.1rem 0;

    @include res(tab) {
      padding: unset;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 992px) {
      flex-wrap: nowrap;
    }

    [class*="_media_image"] {
      margin-right: auto;
    }

    .nav {
      display: flex;

      @include res(tab) {
        flex-direction: row !important;
      }

      .menu-item {
        line-height: 1;
        margin-bottom: 1.6rem;

        @include res(tab) {
          line-height: 1.5;
          margin-bottom: unset;
          margin-left: 3.6rem;
        }

        &:last-child {
          margin-bottom: unset;
        }
      }

      > li:first-child {
        @include res(tab) {
          margin-left: unset;
        }
      }

      > li:last-child {
        @include res(tab) {
          margin-right: 9.2rem;
        }
      }

      a {
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 600;
        transition: color 0.3s;

        &:hover {
          color: rgb(var(--color-navlink-second));
        }
      }
    }

    .widget_media_image {
      width: 100%;
      max-width: 123px;
      margin-bottom: 4.2rem;

      @include res(tab) {
        margin-bottom: unset;
      }
    }
  }
}