.member-zone-form {
 
  &__input,
  &__text,
  &__button {
    font-size: 1.3rem;
    font-weight: 600;
  }

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 24rem;

    .entry-content & {
      margin-top: unset;
    }
  }

  &__text {

    .site-main & {
      margin-top: unset;
      margin-bottom: 2rem;
    }
  }

  &__input {
    height: 3rem;
    margin-bottom: 1.4rem;
    text-align: center;
    border: 2px solid rgba(var(--color-grey-blue), 0.5);
    color: rgba(var(--color-grey-blue), 0.6);
    cursor: pointer;

    &::placeholder {
      color: rgba(var(--color-grey-blue), 0.6);
    }
  }

  &__button {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: rgb(var(--color-white));
    background-color: rgb(var(--color-grey-blue));
    border: 1px solid rgb(var(--color-grey-blue));
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      background-color: rgb(var(--color-white));
      color: rgb(var(--color-grey-blue));
    }
  }

  &__post-excerpt {
    position: relative;

    &::after {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      content: "";
      display: block;
      background: linear-gradient(to top, rgba(var(--color-white), 1) 2%, rgba(var(--color-white), 0.2)  100%);
    }
  }
}

/*
* Modal
*/

.modal-wrapper {

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;

    .modal-open & {
      overflow-x: hidden;
      overflow-y: auto;
    }
    
    &.fade .modal-dialog {
      transition: transform 0.3s ease-out;
      transform: translate(0, -50px);
    }
    
    &.show .modal-dialog {
      transform: none;
    }

    &__title {
      font-size: 4rem;
      line-height: 4.9rem;
      font-weight: 800;
      color: rgb(var(--color-red));
      text-align: center;
      margin-bottom: 2rem;
    }

    &-dialog {
      width: 100%;
      min-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      pointer-events: none;
      background-color: rgb(var(--color-bg-popup-1));
    }

    &__wrapper-buttons {
      display: flex;
      justify-content: center;
      flex-direction: column;

      @include res(phone_medium) {
        flex-direction: unset
      }

      > * {
        width: 100%;
        max-width: 37rem;
        height: 10rem;
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: rgb(var(--color-white));
        transition: color 0.3s;
        margin-top: 2rem;

        @include res(phone_medium) {
          margin-right: 2rem;
          margin-top: 3rem;
        }

        @include res(desktop) {
          margin-right: 4rem;
        }
   
        &:last-child {
          margin-right: unset;
        }
      }

      .modal__button {

        &-close {
          background-color: rgb(var(--color-button-1));
          border: 1px solid rgb(var(--color-button-1));
          transition: background-color 0.3s;
          /* stylelint-disable */
          &:hover {
            color: rgb(var(--color-button-1));
            background-color: rgb(var(--color-white));
          }
          /* stylelint-enable */
        }
        
        &-come-in {
          border: 1px solid rgb(var(--color-button-2));
          background-color: rgb(var(--color-button-2));
          transition: background-color 0.3s;
          /* stylelint-disable */
          &:hover {
            color: rgb(var(--color-button-2));
            background-color: rgb(var(--color-white));
          }
          /* stylelint-enable */
        }
      }
    }

    &__content {
      width: 87vw;
      max-width: 1920px;
      height: 80vh;
      padding: 3.5rem 10%;
      position: relative;
      display: flex;
      flex-direction: column;
      pointer-events: auto;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 0.3rem;
      outline: 0;
      margin-top: 20px;
      margin-bottom: 20px;
      
      @include res(desktop) {
        padding: 3.5rem 10rem;
      }
    }

    &__header {
      display: flex;
      justify-content: center;
    }

    &__body {
      position: relative;
      margin-top: 1.5rem;
      font-size: 2.4rem;
      line-height: 4rem;
      max-height: 64rem;
      overflow-y: auto;
      color: rgb(var(--color-grey-blue));

      [class*="allScreens"] {
        margin-bottom: 3rem;

        &:last-child {
          margin-bottom: unset;
        }
      }
          
      p {
        margin-bottom: 2rem;
      }

      ol {
        padding: 1rem 3rem;
      }

      li {
        padding-bottom: 2rem;
      }
    }
  }
}
