/* stylelint-disable */
.fade {
	transition: opacity 0.15s linear;
}

@media (prefers-reduced-motion: reduce) {
	.fade {
		transition: none;
	}
}

.fade:not(.show) {
	opacity: 0;

  @include res(desktop_medium) {
    opacity: 1;
  }
}

.collapse:not(.show) {
	display: none;
}

.collapsing {
	position: absolute;
	height: auto;
	overflow: hidden;
	transition: height 0.35s ease;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar .container,
.navbar .container-fluid,
.navbar .container-sm,
.navbar .container-md,
.navbar .container-lg,
.navbar .container-xl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;

  &:focus {
    outline-offset: 0;
  }
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-collapse {
  flex-basis: 100%;
  align-items: center;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  text-decoration: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

@media (max-width: 575.98px) {
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid,
  .navbar-expand-sm > .container-sm,
  .navbar-expand-sm > .container-md,
  .navbar-expand-sm > .container-lg,
  .navbar-expand-sm > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 576px) {
  .navbar-expand-sm {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-sm .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid,
  .navbar-expand-sm > .container-sm,
  .navbar-expand-sm > .container-md,
  .navbar-expand-sm > .container-lg,
  .navbar-expand-sm > .container-xl {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-sm .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-sm .navbar-toggler {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid,
  .navbar-expand-md > .container-sm,
  .navbar-expand-md > .container-md,
  .navbar-expand-md > .container-lg,
  .navbar-expand-md > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-md .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid,
  .navbar-expand-md > .container-sm,
  .navbar-expand-md > .container-md,
  .navbar-expand-md > .container-lg,
  .navbar-expand-md > .container-xl {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-md .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid,
  .navbar-expand-lg > .container-sm,
  .navbar-expand-lg > .container-md,
  .navbar-expand-lg > .container-lg,
  .navbar-expand-lg > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid,
  .navbar-expand-lg > .container-sm,
  .navbar-expand-lg > .container-md,
  .navbar-expand-lg > .container-lg,
  .navbar-expand-lg > .container-xl {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid,
  .navbar-expand-xl > .container-sm,
  .navbar-expand-xl > .container-md,
  .navbar-expand-xl > .container-lg,
  .navbar-expand-xl > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 1200px) {
  .navbar-expand-xl {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-xl .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-xl .navbar-nav .dropdown-menu {
    position: absolute;
  }

  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid,
  .navbar-expand-xl > .container-sm,
  .navbar-expand-xl > .container-md,
  .navbar-expand-xl > .container-lg,
  .navbar-expand-xl > .container-xl {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-xl .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-xl .navbar-toggler {
    display: none;
  }
}

.navbar-expand {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid,
.navbar-expand > .container-sm,
.navbar-expand > .container-md,
.navbar-expand > .container-lg,
.navbar-expand > .container-xl {
  padding-right: 0;
  padding-left: 0;
}

.navbar-expand .navbar-nav {
  -ms-flex-direction: row;
  flex-direction: row;
}

.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid,
.navbar-expand > .container-sm,
.navbar-expand > .container-md,
.navbar-expand > .container-lg,
.navbar-expand > .container-xl {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.navbar-expand .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}

.navbar-expand .navbar-toggler {
  display: none;
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(var(--color-white));
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: rgb(var(--color-navlink-active));
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-text {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-text a {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-text a:hover,
.navbar-light .navbar-text a:focus {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.25);
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #fff;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-text {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-text a {
  color: #fff;
}

.navbar-dark .navbar-text a:hover,
.navbar-dark .navbar-text a:focus {
  color: #fff;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.dropdown,
.dropleft,
.dropright,
.dropup {
  position: relative;
}
/* stylelint-enable */

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*
* Navbar TLP
*/

.navbar {
  width: 100%;
  max-width: var(--main-max-width);
  position: static;

  >*:first-child {
    margin-left: var(--main-margin);
  }
  /* stylelint-disable */
  @include res(phone_medium) {

    >*:first-child {
      margin-left: unset;
    }
  }
  /* stylelint-enable */
  a {
    text-transform: uppercase;
    font-size: 1.8rem;
  }

  .navbar-collapse {
    @media screen and (max-width: 1200px) {
      z-index: 2;
    }

    > .navbar-nav {
      position: absolute;
      right: 0;
      left: 0;

      @include res(desktop_medium) {
        position: initial;
      }

      @media screen and (max-width: 1199px) {

        .nav-link {
          margin-left: var(--main-margin);
        }
      }
    }
  }

  .menu-item {
    min-height: 7rem;
    display: flex;
    align-items: center;

    @include res(desktop) {
      height: unset;
    }

    .nav-link {
      color: rgb(var(--color-white));
    }

    &-has-children {
      flex-wrap: wrap;

      > .nav-link {
        min-height: 7rem;
        display: flex;
        align-items: center;
      }

      > .dropdown-toggle {
        margin-left: 2rem;
        color: rgb(var(--color-white));
        transition: color 0.3s;

        @include res(desktop_medium) {
          margin-left: 0.5rem;
        }

        &:hover {
          color: rgb(var(--color-navlink-active));
          cursor: pointer;
        }
      }
    }

    .nav-item {
      background-color: rgb(var(--color-white));
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }

    .dropdown-item {
      min-height: 6.8rem;
      width: calc(100% - 4px);
      background-color: rgb(var(--color-grey));
      color: rgb(var(--color-navy-blue));
      display: flex;
      align-items: center;
      padding: 0 50px;
    }
  }

  .nav-link,
  .dropdown-item {
    font-weight: 600;
    transition: color 0.3s;

    &:hover {
      color: rgb(var(--color-red));
    }
  }

  .dropdown-menu {
    width: 100%;

    @include res(desktop_medium) {
      padding-top: unset;
      margin-top: unset;
      width: 36rem;
    }

    > li {

      &:last-child {
        align-items: center;

        .dropdown-item {
          min-height: 6.6rem;
        }
      }
    }
  }

  svg {

    rect {
      fill: rgba(var(--color-red),0.8);
      transition: 0.3s;
    }

    &:hover {

      rect {
        transition: 0.3s;
        fill: rgba(var(--color-red),1);
      }
    }

    path {
      fill: rgb(var(--color-white));
    }
  }

  .home {
    height: 7rem;

    svg {
      height: 7rem;
      width: 7rem;
    }
  }

  .primary-nav-bar {
    order: 4;

    @include res(desktop_medium) {
      order: unset;
      //flex-basis: calc(100% - 7rem);
    }

    @include res(wide) {
      flex-basis: auto;
    }
  }

  .navbar {

    &-nav {
      @media screen and (max-width: 1200px) {
        background-color: rgba(var(--color-navy-blue), 1);
      }

      > li {
        @include res(desktop_medium) {
          margin-left: 2rem;
        }
      }

      > li:last-child {
        @include res(desktop_medium) {
          margin-right: 2rem;
        }
      }

      .show > .dropdown-toggle {
        color: rgb(var(--color-navlink-active));
      }
    }

    &-toggler {
      border: unset;
      margin-left: auto;

      &:focus {
        outline: unset;
      }
    }
  }

  &-toggler-icon {

    .navbar-light & {
      width: 4.2rem;
      height: 4.2rem;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
  }

  &.navbar-expand-xl {
    @include res(desktop_medium) {
      flex-flow: row wrap;
    }
  }

  .members-zone {
    width: 100%;
    padding-left: 7px;
    order: 2;
    z-index: 3;
    background-color: rgba(var(--color-red), 0.75);
    transition: 0.3s;

    &:hover {
      background-color: rgba(var(--color-red), 1);
      transition: 0.3s;
    }

    @include res(phone_medium) {
      width: unset;
      order: initial;
      margin-left: auto;
      padding-left: unset;
    }

    >.navbar-nav {
      position: relative;

      @media screen and (max-width: 1200px) {
        background-color: rgb(var(--color-red));
      }

      >.icon {
        position: absolute;
        top: calc((100% - 30px)/2);
        left: 41px;

        @include res(phone_medium) {
          left: 29px;
        }

        path {
          fill: rgb(var(--color-navy-blue));
        }
      }

      >li {
        margin-left: unset;
      }

      > li:last-child {
        @include res(desktop_medium) {
          margin-right: unset;
        }
      }

      > li:nth-of-type(n + 2) {
        display: none;
      }
    }

    .dropdown-menu.show {
      position: absolute;
      padding: unset;
      margin: unset;
      left: -7px;
      width: calc(100% + 7px);

      @include res(tab) {
        left: 0;
        width: 100%;
      }
    }

    .show > .nav-link {
      color: rgb(var(--color-navlink-first));

      &:hover {
        color: rgb(var(--color-navy-blue));
      }
    }

    .nav-link {
      padding: 0 20px;
      padding-left: 88px;
      justify-content: center;
      margin: unset;

      @include res(phone_medium) {
        left: 0;
        width: 100%;
        padding-left: 65px;
      }

      &:hover {
        color: rgb(var(--color-navlink-first));
      }
    }
  }
}