ul.wpp-list {
  margin-left: 0!important;

  .popular-posts {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 10px ;
  }

  .categories-container {
    color: transparent; //for disable a coma beetwen category sticker
    margin-top: -5px;
  }

  h3 a {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 700;
    color: rgb(var(--color-black));
    display: block;
    padding-right: 10px;
    opacity: 1;
    transition: 0.3s;

    &:hover {
      opacity: 0.8;
      transition: 0.3s;
    }
  }

  .wpp-taxonomy {
    color: rgb(var(--color-white));
    background: rgb(var(--color-primary));
    padding: 4px 6px;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s;
    
    &:hover {
      background: rgb(var(--color-secondary));
      transition: 0.3s;
    }
  }
}