.grid-news {
  border-bottom: 2px solid #DCDDE1;
  margin-bottom: 20px;

  .post-thumbnail {
    position: relative;
  }

  .entry-meta {
    top: 0;
    left: 0;
    padding: 10px;
    color: #fff;
    width: 100%;
    height: auto;
    background-color: rgb(var(--color-navy-blue));
  }

  h2 {
    color: rgb(var(--color-black));
    opacity: 1;
    transition: 0.3s;

    .selected-categories & {

      font-size: 1.7rem;

      @include res(tab) {
        font-size: 2.2rem;
      }

      @include res(wide) {
        font-size: 2.4rem;
      }
    }

    a {
      color: rgb(var(--color-black));
      opacity: 1;
      transition: 0.3s;

      &:hover {
        opacity: 0.7;
        transition: 0.3s;
      }
    }
  }

  .entry-footer {
    margin-bottom: 30px;
  }

  .post-thumbnail {
    position: relative;
    min-height: 150px;

    img {
      width: 100%;
      max-height: 190px;
      object-fit: cover;

      @include res(tab) {
        max-height: 220px;
      }

      @include res(desktop) {
        max-height: 300px;
      }
    }
  }

  &__category {
    margin-bottom: 5rem;

    h2 {
      color: #fff;
      position: relative;
      z-index: 2;
    }

    &:hover {

      .entry-meta {
        background-color: rgb(var(--color-primary));
        transition: 0.3s;
      }
    }

    .entry-meta {
      transition: 0.3s;
    }

    .entry-header {
      position: absolute;
      bottom: 0;
      padding: 15px;

      color: #fff;
    }

    .post-thumbnail {

      img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;

        @include res(tab) {
          max-height: 250px;
        }

        @include res(desktop) {
          max-height: 350px;
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
        mix-blend-mode: multiply;
      }
    }
  }
}

.post-categories {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 5px 0;

  .site-main & {
    margin-left: 0; // require for overide
  }

  li {
    margin-right: 10px;
    border-radius: 2px;
    background-color: rgb(var(--color-primary));
    transition: 0.3s;
    padding: 0;
    line-height: 2.2rem;

    &:hover {
      background-color: rgb(var(--color-secondary));
      transition: 0.3s;
    }

    a {
      color: #fff;
      padding: 3px 6px;
      font-size: 1.2rem;
    }
  }
}

.single {

  .post {
    @include res(tab) {
      padding-right: 20px;
    }

    .entry-header {
      // background: linear-gradient(270deg, rgb(var(--color-overlay-heading-gradient-end)), rgb(var(--color-overlay-heading-gradient-start)));
      padding: 10px 20px;

      .post-categories {
        margin-left: 0;
        margin-bottom: 1rem;
      }

      h1 {
        // color: #fff;
        color: rgb(var(--color-dark-blue));
        margin: 1rem 0;
        font-size: 2.5rem;
        line-height: 3.5rem;

        @include res(tab) {
          font-size: 3.5rem;
          line-height: 4.5rem;
        }
      }

      time {
        // color: #fff;
        color: rgb(var(--color-dark-blue));
        font-size: 1.8rem;
      }
    }

    .post-thumbnail {

      img {
        width: 100%;
      }
    }
  }
}
