.recent-posts-widget {

  &__header {
    position: relative;
  }

  &__article {
    border-bottom: 2px solid rgb(var(--color-grey));
    margin-bottom: 2rem;
  }

  .overlap__heading {
    width: fit-content;
  }

  h3 {
    font-weight: 900;
  }

  .entry-title {
    margin-bottom: 1rem;
    
    a {
      color: rgb(var(--color-black));
      opacity: 1;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .primary-border-accent {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid rgb(var(--color-primary));
  }

  .post-categories {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .post-thumbnail {

    img {
      max-height: 24rem;
      object-fit: cover;
    }
  }
}