/* 
* Clears default setings
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section { 
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q { 
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

input,
select {
  vertical-align: middle;
}

/* 
* Clears the ‘X’ from input 
*/

input[type=search]::-ms-clear { 
  display: none; 
  width: 0; 
  height: 0; 
}

input[type=search]::-ms-reveal { 
  display: none; 
  width: 0; 
  height: 0; 
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/*
* Reset setings Gutenberg block
*/

[class*="wp-block-"] {
  margin-bottom: unset;
  
  * {
    margin-bottom: unset;
  }
}

/*
* Reset for lightbox after switch popup image gallery
*/

body {
  padding-right: unset !important;
}
