/*
* Settings for home page
*/

.latest-news {

  >.wp-block-group {

    &__inner-container {
      @include res(desktop) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
      }

      > * {
        margin-bottom: 2rem;

        &:last-child {
          margin-bottom: unset;
        }
        /* stylelint-disable */
        @include res(desktop) {
          margin-bottom: unset;
        }
      }
      /* stylelint-enable */
      .overlap {
        @include res(desktop) {
          grid-column: 1/3;
          grid-row: 1/2;
        }
      }
    }
  }
}

.add-height-30 {
  height: 3rem;
  display: block;
}

.content-area {
  max-width: var(--main-max-width);
  margin-left: auto;
  margin-right: auto;
}

/*
* settings for news in grid
*/

.post-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;

  @include res(tab) {
    gap: 20px;
  }

  @include res(desktop) {
    gap: 35px;
    grid-template-columns: repeat(2, 50%);
  }
}

/*
* Section tabs into front page
*/
.section-tabs {

  .wp-block-cs-gutenberg-blocks-display-posts__item {
    min-height: 46rem;
  }
}

/*
* Modifikation cumulus-tabs block
*/
.section-tabs {
  @media screen and (max-width: 1200px) {
    flex-direction: column;

    >.wp-block-column {
      flex-basis: 100% !important;

      &:not(:first-child) {
        margin-left: unset;
      }
    }
  }

  .wp-block-cs-gutenberg-blocks-tabs {
    margin-top: 4rem;

    @include res(desktop_medium) {
      margin-top: unset;
    }

    &__icon {
      display: none !important;

      @include res(phone_medium) {
        display: inline-block !important;
      }
    }

    .nav-tab {

      > li {
        width: 50%;
      }

      .tab-item {
        min-height: 8rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        line-height: 2.9rem;
        font-weight: 700;
        background: linear-gradient(to right,#091628,#265594);
        transition: background 0.3s;
        color: rgb(var(--color-white));
        padding: unset;
        border: unset;

        @include res(tab) {
          font-size: 2.2rem;
        }

        &.active {
          background: linear-gradient(to right,rgb(var(--color-red)),rgb(var(--color-red)));
        }
      }

      li {

        &:first-child {
          /* stylelint-disable */
          .cs-gutenberg-blocks-tabs__icon {
             background-image: url('/src/images/facebook.svg');
             background-repeat: no-repeat;
             background-position: center;
             display: inline-block;
             width: 2rem;
             height: 2rem;

             @include res(tab) {
              width: 3rem;
              height: 3rem;
             }
          }
          /* stylelint-enable */
        }

        &:last-child {
          /* stylelint-disable */
          .cs-gutenberg-blocks-tabs__icon {
             background-image: url('/src/images/star.svg');
             background-repeat: no-repeat;
             background-position: center;
             display: inline-block;
             margin-right: 0.5rem;
             width: 2rem;
             height: 2rem;

             @include res(tab) {
              width: 3rem;
              height: 3rem;
             }
          }
          /* stylelint-enable */
        }
      }
    }

    .wp-block-cs-gutenberg-blocks-tabs-item {
      height: 36rem !important;
      border: unset;
      overflow-y: auto;
    }
  }
}

.logo-grid {

  .frame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    // height: 170px;
    // max-width: 100%;
    text-align: center;
    border: 1px solid rgb(var(--color-grey));
    margin: 0 20px 20px 0;
    box-shadow: 0 0 20px rgba(var(--color-grey), 0);
    transition: 0.3s;

    @include res(phone) {
      height: 220px;
    }

    @include res(phone_medium) {
      height: 300px;
    }

    img {
      transition: 0.3s;
    }

    &.hover_true:hover {
      box-shadow: 0 0 20px rgba(var(--color-grey), 0.8);
      transition: 0.3s;

      img {
        transition: 0.3s;
        transform: scale(1.1);
      }
    }
  }
}

// contact form

.contact-form {

  max-width: var(--main-max-width);

  &__tlp {

    background-color: rgb(var(--color-grey));

    > .col-12:first-child { // require for this layout
      padding: 0;
      margin: 0;
    }

    .form-title {
      line-height: 4rem;
      margin: 0;
      padding: 2rem 1rem;
      margin-bottom: 3rem;
      text-align: center;
      color: rgb(var(--color-white));
      // background: linear-gradient(left to right, rgb(var(--color-overlay-heading-gradient-start)),;
      background: linear-gradient(45deg, rgb(var(--color-overlay-heading-gradient-start)), rgb(var(--color-overlay-heading-gradient-end)));
      text-transform: uppercase;
      position: relative;
      overflow: hidden;
      z-index: 3;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 0;
        height: 100%;
        border-bottom: 100px solid rgb(var(--color-primary));
        border-right: 100px solid transparent;
      }
    }

    textarea {
      height: calc(100% - 56px);
    }

    .add-space {
      padding-bottom: 0;

      @include res(tab) {
        padding-bottom: 4rem;
      }
    }
  }

  &__content {
    max-width: calc(100vw - 50px);
    margin: 0 auto;

    @include res(wide) {
      width: calc(100vw - 80px);
      max-width: var(--main-max-width);
    }
  }

  .require-star {
    color: rgb(var(--color-primary));
    padding-right: 5px;
  }

  label {
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(var(--color-secondary));
  }

  input {
    min-height: 5rem;
    width: 100%;

    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 1.8rem;

    &[type="checkbox"] {
      width: 2.5rem;
      height: 2.5rem;
      margin-top: -0.5rem;
    }
  }

  textarea {
    width: 100%;
    padding: 2rem;
    font-size: 1.8rem;
  }

  .alignright {
    margin-left: unset;

    @include res(tab) {
      margin-left: 50%;
    }
  }

  .wpcf7-list-item {
    margin-left: 0;
  }

  input[type="submit"]:not([disabled]) {
    border: transparent;
    cursor: pointer;
    color: rgb(var(--color-white));
    background: linear-gradient(45deg, rgb(var(--color-overlay-heading-gradient-start)), rgb(var(--color-overlay-heading-gradient-start)));
    transition: 0.3s;

    &:hover {
      background: linear-gradient(45deg, rgb(var(--color-overlay-heading-gradient-start)), rgb(var(--color-overlay-heading-gradient-end)));
      transition: 0.3s;
    }
  }
}

/*
* Scafold for Tlp team
*/
.members-team {

  .entry-content & {
    margin-top: 10rem;
  }

  & + .overlap {
    margin-top: 12rem;
  }

  .wp-block-column {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;

    @include res(tab) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 1600px) {
      column-gap: 1rem;
      row-gap: 6rem;
    }

    .wp-block-cs-gutenberg-blocks-member-team {

      .wp-block-cs-gutenberg-blocks-member-team__text-1 {
        padding: 0 1.5rem;
        min-width: unset;
        z-index: 2;

        @media screen and (min-width: 1600px) {
          max-width: 420rem;
          width: 100%;
        }

        p:first-child {
          font-size: 1.7rem;
          line-height: 2rem;
        }

        p:nth-child(n + 2) {
          font-size: 1.5rem;
          line-height: 2rem;
        }
      }

      .wp-block-cs-gutenberg-blocks-member-team__text-2 {

        a,
        p {
          font-size: 2rem;
          line-height: 3rem;
        }
      }

      figure {
        overflow: hidden;
        // background-color: rgba(18, 40, 69, 0.6);
        // transition: background-color 0.3s;

        img {
          transform: scale(1,1);
          filter: grayscale(100%);
          transition: all 0.3s;
        }

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(91, 154, 236, 0.4);
          transition: background-color 0.3s;
          z-index: 1;
        }

        &::after {
          z-index: 2;
          bottom: 0;;
        }

        &:hover {
          /* stylelint-disable */
          img {
            transform: scale(1.1,1.1);
            filter: grayscale(0%);
          }

          &:before {
            background-color: rgba(18, 40, 69, 0);
          }
          /* stylelint-enable */
        }
      }
    }
  }
}

/*
* History page
*/

.history {

  &-objectives-of-the-activity {

    &__heading {
      margin-top: 6rem;
      margin-bottom: 2rem;

      @include res(desktop) {
        margin-top: 8rem;
        min-height: 23rem;
      }

      @include headings {
        font-size: 4rem;
        line-height: 4.9rem;
        margin-bottom: 4rem;
        text-transform: uppercase;
      }

      p {
        font-size: 2.4rem;
        line-height: 4rem;
      }
    }

    .wp-block-quote {
      position: relative;
      min-height: 25rem;
      border: 2px solid rgb(var(--color-grey));
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1.6rem 1.6rem 0 8rem;
      margin-bottom: 6rem;

      &:last-child() {
        margin-bottom: 6rem;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 2.9rem;
        top: 1.6rem;
        bottom: 1.6rem;
        width: 1.6rem;
      }
    }

    .wp-block-column {

      &:first-child {

        .wp-block-quote::after {
          background-color: rgb(var(--color-dark-blue));
        }
      }

      &:last-child {

        .wp-block-quote::after {
          background-color: rgb(var(--color-red));
        }
      }
    }
  }

  &-banner {
    max-height: 75.3rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-cover {
    min-height: 37rem;
    padding: 7.3rem 0;
    margin-top: unset !important;

    .wp-block-cover__inner-container {
      max-width: 80%;

      @include res(desktop_medium) {
        max-width: 100rem;
      }

      p {
        font-size: 2.4rem;
        line-height: 4rem;
        font-weight: 400;
      }
    }
  }
}

/*
* Categories page
*/

.selected-categories {

  &__link {
    position: relative;
    display: block;
    height: 30rem;
    background-color: rgba(var(--color-grey), 0.8);
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    min-height: 10rem;
    padding: 3rem 2rem;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    color: rgb(var(--color-white));
    font-weight: 800;
    background-color: rgba(var(--color-navy-blue), 0.8);

    @include res(tab) {
      font-size: 2rem;
      line-height: 2.6rem;
    }

    @include res(wide) {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }

  & ~ .posts-pagination {

    .page-numbers {
      padding: 3px 5px;
      margin-right: 2px;
      border-radius: 2px;
    }

    a {
      color: rgb(var(--color-secondary));
      opacity: 1;
      transition: 0.3s;
      background-color: transparent;

      &:hover {
        color: #fff;
        background-color: rgb(var(--color-secondary));
      }
    }

    .dots {
      color: rgb(var(--color-secondary));
    }

    .current {
      color: rgb(var(--color-white));
      background-color: rgb(var(--color-red)) !important;
    }
  }
}
