$bp-phone: 480px;
$bp-phone-medium: 568px;
$bp-tab: 768px;
$bp-desktop: 1024px;
$bp-desktop-medium: 1200px;
$bp-wide: 1530px;

@mixin res($breakpoint) {
  @if $breakpoint==wide {
    @media screen and (min-width: $bp-wide) {
      @content;
    }
  }

  @if $breakpoint==desktop_medium {
    @media screen and (min-width: $bp-desktop-medium) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media screen and (min-width: $bp-desktop) {
      @content;
    }
  }

  @if $breakpoint==tab {
    @media screen and (min-width: $bp-tab) {
      @content;
    }
  }

  @if $breakpoint==phone_medium {
    @media screen and (min-width: $bp-phone-medium) {
      @content;
    }
  }

  @if $breakpoint==phone {
    @media screen and (min-width: $bp-phone) {
      @content;
    }
  }
}

@mixin headings {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @content;
  }
}

/*
* Font family
*/

$main-font: "Montserrat", sans-serif;

/*
* Color
*/

:root {
  --color-red: 217,0,13;
  --color-primary: 217,0,13; // red
  --color-secondary: 18,40,69; // dark blue
  --color-white: 255,255,255;
  --color-navy-blue: 18,40,69;
  --color-grey: 220,221,225;
  --color-grey-blue: 95, 104, 124; // grey to blue, not clean grey
  --color-dark-blue: 18, 40, 69;
  --color-navlink-first: var(--color-white);
  --color-navlink-second: var(--color-navy-blue);
  --color-navlink-active: var(--color-red);
  --color-footer-filter: 9, 74, 183; // blue
  --color-black: 0, 0, 0;
  --color-overlay-heading-gradient-start: 8, 21, 38;
  --color-overlay-heading-gradient-end: 38, 86, 149;

  /*
  * Popup
  */

  --color-bg-popup-1: 228, 228, 228;
  --color-bg-popup-2: var(--color-white);

  /*
  * Button
  */
  --color-button-1: 18, 40, 69;
  --color-button-2: var(--color-grey-blue);

  /*
  * Setings margin
  */

  --main-margin: 30px;

  /*
  * Setings width
  */
  --main-container-width: calc(100% - 60px);
  --main-max-width: 1300px;
}

@media screen and (min-width: 768px) {

  :root {
    --main-margin: 50px;
    --main-container-width: calc(100% - 100px);
  }
}

@media screen and (min-width: 1200px) {

  :root {
    --main-margin: 60px;
    --main-container-width: calc(100% - 120px);
  }
}
