@import "./fonts";

@import "./variables";

@import "./reset";

@import "./navbar";

@import "../../inc/assets/css/slick.css";

@import "./elements";

@import "./header";

@import "./footer";

@import "./cookiesbar";

@import "./adds";

@import "./structure";

@import "./member_zone";

@import "./breadcrumbs";

@import "./posts_news";

@import "./recent_posts_widget";

@import "./popular_posts";

@import "../../inc/assets/css/bootstrap-grid.css";

html {
  font-size: 46%;
}

@include res(tab) {

  html {
    font-size: 46%;
  }
}

@include res(desktop) {

  html {
    font-size: 46%;
  }
}

@include res(desktop_medium) {

  html {
    font-size: 46%;
  }
}

@include res(wide) {

  html {
    font-size: 52.5%;
  }
}

html,
body {
  overflow-x: hidden;
}

body {
  font-size: 1.8rem;
  font-family: $main-font;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.dn {
  display: none;
}

.container-tlp {
  width: var(--main-container-width);
  max-width: var(--main-max-width);
  margin: 0 auto;
}

.entry-content {
  margin-bottom: 4rem;

  >* {
    margin-top: 4rem;
  }
}

.site-main {
  margin: 5rem 0;

  @include res(tab) {
    margin: 8rem 0;
  }

  @include res(desktop) {
    margin: 10rem 0;
  }

  p,
  ol,
  ul {
    color: rgb(var(--color-grey-blue));
    margin-bottom: 3rem;
    line-height: 3rem;
  }

  ol,
  ul {
    margin-left: 2rem;
  }
}

h1 {
  font-size: 4rem;
  color: rgb(var(--color-grey-blue));
  font-weight: 900;
  margin: 2rem 0 4rem;

  @include res(tab) {
    font-size: 3rem;
  }

  @include res(phone) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2.5rem;
  color: rgb(var(--color-grey-blue));
  font-weight: 700;
  margin: 1rem 0 2rem;
}

h3 {
  font-size: 2.2rem;
  color: rgb(var(--color-grey-blue));
  font-weight: 600;
  margin: 1rem 0 2rem;
}

h4 {
  font-size: 2rem;
  color: rgb(var(--color-grey-blue));
  font-weight: 600;
  margin: 1rem 0 2rem;
}

h5 {
  font-size: 1.8rem;
  color: rgb(var(--color-grey-blue));
  font-weight: 600;
  margin: 1rem 0 2rem;
}

h6 {
  font-size: 1.6rem;
  color: rgb(var(--color-grey-blue));
  font-weight: 600;
  margin: 1rem 0 2rem;
}

.wp-block-button__link,
.wp-block-file .wp-block-file__button {
  background-color: rgb(var(--color-grey-blue));
  transition: 0.3s;

  &:hover {
    background-color: rgb(var(--color-primary));
    transition: 0.3s;
  }
}

.wp-block-file .wp-block-file__button {
  border-radius: 0;
  font-size: 1.125em;
  padding: 0.667em 1.333em;
  display: inline-block;
}

.tlp-btn {
  width: 100%;

  a {
    width: 100%;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 4rem;
    margin: 2rem 0;
    text-align: center;
    background-color: rgb(var(--color-grey-blue));
  }
}

.alignfull {
  margin: 0px calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;
}

img {
  max-width: 100%;
  height: auto;
}

.extra-bold {
  font-weight: 900;
}

.posts-pagination {

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 5px 0;
  }

  li {
    text-decoration: none;

    a {
      color: rgb(var(--color-secondary));
      opacity: 1;
      transition: 0.3s;
      padding: 3px 5px;
      margin-right: 2px;
      border-radius: 2px;
      background-color: transparent;

      &:hover {
        color: #fff;
        background-color: rgb(var(--color-secondary));
        transition: 0.3s;
      }
    }

    &.active {

      a {
        color: #fff;
        background-color: rgb(var(--color-primary));

        &:hover {
          background-color: rgb(var(--color-secondary));
        }
      }
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.search-form {
  position: relative;
  max-width: 650px;

  .widget & {
    width: 100%;
    margin-bottom: 3.5rem;

    .search-field {
      width: 100%;
    }
  }

  .search-field {
    width: 100%;
    border: 2px solid rgb(var(--color-grey));
    padding-left: 20px;
    text-transform: uppercase;
    padding-right: 22%;

    &::placeholder {
      color: rgb(var(--color-grey));
    }
  }

  .search-submit {
    position: absolute;
    right: 0;
    top: 0;
    width: 10%;
    background: transparent;
    border: transparent;
  }

  .search-btn-icon {
    cursor: pointer;
    text-align: center;
    width: 100%;
    min-width: 50px; //for mobile
    height: 100%;
    padding-top: 5px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    background-color: rgb(var(--color-grey)); // by using mask now i can change collor this icon
    mask-image: url(../images/search.svg);
    -webkit-mask-image: url(../images/search.svg);
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 30px;
    transition: 0.3s;

    &:hover {
      background-color: rgb(var(--color-primary));
      transition: 0.3s;
    }
  }

  .search-field,
  .search-submit {
    height: 50px;
  }
}

.site-content {

  .widget-area {
    margin: 10rem 0; // like site-main container
  }
}

.fb-page {

  &.fb_iframe_widget {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    max-width: 100%;

    iframe {
      max-width: 100%;
    }

    // ._2p3a {
    //   max-width: 100%;
    // }
  }
}

.hide-br {

  br {
    display: none;
  }
}

.error {

  &.error-message {
    color: #ff0000;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-top: -1rem; // for not tuch default settings without error.
  }
}

.slick-slide {
  margin-left: 5rem;
}

.js-front-page-gallery .slick-slide {
  margin-left: 0;
}
